@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

button {
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 5px;
}

.container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  height: 100vh;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: lightgray;
}
.header {
  font-size: 3rem;
}
.content {
  display: flex;
  flex-wrap: wrap;
  background-image: url("library.jpg");
  background-color: darkgrey;
  background-size: 100% auto;
  min-height: 700px;
  min-width: 700px;
  padding: 5% 10%;
  gap: 50px;
}

.book {
  height: 200px;
  width: 150px;
  background-color: whitesmoke;
  color: black;
  border: darkgray solid 3px;
  padding: 0.5rem;
}

.book :first-child {
  font-weight: bold;
}
.book :nth-child(2) {
  font-style: italic;
}
.book .remove-btn {
  background-color: darkgrey;
  border: red solid 1px;
}
.book .read-btn {
  background-color: darkgrey;
  border: blue solid 1px;
}

.book .read-btn.read {
  background-color: green;
  border: blue solid 1px;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 200px;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 10px 0;
}
dialog::backdrop {
  backdrop-filter: blur(1px);
}
